@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pete's Pizzas</h1>
    <p>Click Log In or <a href="home/login">Get Started</a> to order a pizza!</p>
    <br>
    <p>Azure Deployed!!!!!</p>
</div>
