@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
  ViewData["Title"] = "Pizza Size Sales";
}

@model List<PizzaSizeSales>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Total Sales</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model)
    {
      <tr>
        <td>@item.Name</td>
        <td>$@item.CostPerSize</td>
      </tr>
    }
  </tbody>
</table>