@{
  Layout = "~/Views/Shared/_Layout2.cshtml";
  ViewData["Title"] = "Pizza Sales";
}

@model List<PizzaModel>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Pizza Type</th>
      <th scope="col">Total Sales</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model)
    {
      <tr>
        <td>@item.pizzaType</td>
        <td>$@item.Cost</td>
    </tr>
    }
  </tbody>
</table>