@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
  ViewData["Title"] = "Store Sales";
}

@model List<StoreSales>

@{decimal totalSales = 0;}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Store Location</th>
      <th scope="col">Total Sales</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model)
    {
      <tr>
        <td>@item.Name</td>
        <td>$@item.CostPerStore</td>
      </tr>
      totalSales += @item.CostPerStore;
    }
  </tbody>
  <tfoot>
    <tr>
      <td>Total Sales</td>
      <td>$@totalSales</td>
    </tr>
  </tfoot>
</table>