@{
  Layout = "~/Views/Shared/_Layout2.cshtml";
  ViewData["Title"] = "Order Details";
}

@model List<PizzaModel>

@{TempData["count"] = @Model.Count;}

@{decimal totalCost = 0;}
@foreach (var item in @Model)
{
  totalCost += item.Cost;
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Pizza Type</th>
      <th scope="col">Pizza Size</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in @Model)
    {
      <tr>
        <td>@item.pizzaType</td>
        <td>@item.size</td>
        <td>$@item.Cost</td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <td></td>
      <td>$@totalCost</td>
    </tr>
  </tfoot>
</table>

<a href="/pizza/create">Add another pizza</a>

<br>

<a href="/pizza/remove">Remove last pizza</a>

<br>

<a href="/pizza/checkout/">checkout</a>
@* @Html.ActionLink("Checkout", "checkout", "pizza", new {pizza = @Model}) *@