@{
  Layout = "~/Views/Shared/_Layout2.cshtml";
  ViewData["Title"] = "Admin Home";
}

<a href="/admin/orderhistory">Order History</a>

<br>

<a href="/admin/pizzasales">Pizza Sales Report</a>

<a href="/admin/storesales">Store Sales Report</a>