@{
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
  ViewData["Title"] = "Admin Home";
}

<a href="/admin/orderhistory" class="btn btn-info" role="button">Order History</a>

<br>
<br>

<a href="/admin/pizzatypesales" class="btn btn-info" role="button">Pizza Type Sales Report</a>

<br>
<br>

<a href="/admin/pizzasizesales" class="btn btn-info" role="button">Pizza Size Sales Report</a>

<br>
<br>

<a href="/admin/storesales" class="btn btn-info" role="button">Store Sales Report</a>