@{
  Layout = "~/Views/Shared/_LayoutCust.cshtml";
  ViewData["Title"] = "Customer Home";
}

<a href="/customer/custhistory" class="btn btn-info" role="button">Order History</a>

<br>
<br>

<a href="/pizza/location" class="btn btn-info" role="button">Order</a>
