@{
  Layout = "~/Views/Shared/_Layout2.cshtml";
  ViewData["Title"] = "Customer Order History";
}


<a href="/customer/custhistory">Order History</a>
<a href="/customer/custorder">Order</a>
@* <p>@Model.UserId</p>  html action link   *@
