@{
  Layout = "~/Views/Shared/_Layout2.cshtml";
  ViewData["Title"] = "Customer Order History";
}

@* @model PizzaBox.Client2.Models.PizzaModel;hi *@

@* @foreach(var item in @Model.PizzaType.ToString())
{
  Console.WriteLine(item);
} *@
<label>order history</label>